/*==============================================================================================================*/
/*======================================This is my Custom Navigation Bar CSS====================================*/
/*==============================================================================================================*/
/* Add a black background color to the top navigation bar */
.nav ul
{ 
  position: absolute;     /*To set margin-top: 0 , we need to keep the position as absolute*/
  width: 100%;
  top: 0;
  padding: 0;
  background-color: #333;
}
/*To make the list elements horizontal*/  
.nav li
{
  float: left;
}
/* Style the links and Dropdown button inside the navigation bar */
.nav li a, .dropbtn
{
  display: inline-block;
  color: white;
  padding: 18px 25px;
  text-align: center;
  text-decoration: none; /*To remove the hyperlink underline*/
}
/* Style the "active" element to highlight the current page */
.nav .active
{
  background-color: #4CAF50;
}
/*To show the hover effect over link other than the active*/
.nav a:hover:not(.active)
{
  background-color: #111;
}
/*Dropdown elements will be in same line*/
li.dropdown 
{
  display: inline-block;
}
/*Styling the content in dropdown menu*/
.dropdown-content
{
  display: none;
  position: absolute;
  z-index: 1;
  padding: 0;
}
/*Styling the links which appear on dropdown*/ 
.dropdown-content a
{
  display: block;
  color: black;
  padding: 18px 25px;
  min-width: 132px;
}
/*Adding Hover effect to dropdown menu*/
.dropdown:hover .dropdown-content 
{
  display: block;
  background-color: #333;
}
/*Adding hover effect to drop button*/
.dropdown:hover .dropbtn
{
  background-color: #111;
}
/*Styling the footer*/
footer
{
  text-align: center;
  background-color: #333;
  color: white;
}
/*Adding a margin top for navbar and background color lightest gray*/
body
{
  margin: 10px 0 0 0;
  background-color: #e6e6e6;
}
/*Styling the horizontal page breaks*/
hr
{
  height: 5px;
  color: black !important; 
  background-color: black !important;
}
/*Changing size of menu bar glyphicon*/
.glyphicon-chevron-down
{
  font-size: x-small;
}